.centerText {
  text-align: center;
}

.ULStyleSquareBullet{
list-style-type:square; font-size:25px; LINE-HEIGHT:40px; 

}

.ULStyleSquareEmptyCircle{
	
font-size: medium; padding-left:20px;

}

/* .justify{
  text-justify: auto|inter-word|inter-character|none|initial|inherit;
} */

.textarea{
  background-color:white;
  color:black;
  padding:80px;
}

.pagebackground{
  background-color: grey;
}




/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  margin-top : 0px;
  padding    : 10px 50px;
   max-width :800px;
}

.center {
  margin: auto;
  width: 50%;
  padding:30px;
}
.centerText {
  text-align: center;
}