.ULStyleSquareBullet{
  list-style-type:square;
  font-size:25px;
}

.ULStyleSquareBullet li {
  margin-bottom: 25px;
}

.ULStyleSquareEmptyCircle{
  font-size: medium;
  padding-left:20px;
}

.footer {  
  background-color: grey;
  padding: 12px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.para-container {
  padding: 10px 0px; 
}

.contact-links span {
  width: 35px;
}

.pb-50 {
  padding-bottom: 50px;
}

.w-60 {
  width: 60%;
}

.ml-15 {
  margin-left: 15%;
}

@media only screen and (max-width: 768px) {
  .ml-15 {
    margin-left: 20%;
  }
  .w-60 {
    width: 70%;
  }
  .ULStyleSquareBullet {
    font-size: 20px;
  }
  h1 {
    font-size: 32px !important;
  }
}