/* The sidebar menu */
.sidenav {
  background-color: #111; /* Black */
  position: fixed;
  left: 0;
  height: 100vh;
  width: 15%;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 15px;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

@media only screen and (max-width: 2560px) {
  .sidenav {
    width: 10%;
  }
}
@media only screen and (max-width: 1500px) {
  .sidenav {
    width: 15%;
  }
}
@media only screen and (max-width: 768px) {
  .sidenav {
    width: 20%;
  }
  .sidenav a {
    font-size: 20px;
  }
}